*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  background: #0066bb url(../images/reactjs.png) no-repeat right 10px;
  background-size: contain;
  h1 {
    display: inline-block;
    padding: 0 20px;
  }
  a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    &.active,
    &:hover {
      background-color: #0085F3;
    }
  }
}
.tododiv{
  text-align:center;
  font-family:cursive;
}
.todo {
  color: red;
  font-size: 72px;
}
text{
  color:blue;
}
textd{
  font-size:32px;
}
.btn {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #a31b1b);
  background-image: -moz-linear-gradient(top, #ff0000, #a31b1b);
  background-image: -ms-linear-gradient(top, #ff0000, #a31b1b);
  background-image: -o-linear-gradient(top, #ff0000, #a31b1b);
  background-image: linear-gradient(to bottom, #ff0000, #a31b1b);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
section {
 padding: 20px;
}
.output {
  text-align: center;
  position: absolute;
  left: 15%;
  width: 75%;
  background-color: #00000024;
}
.edit{
  position:center;
  width:100%;
  text-align:center;
}
.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 6px 20px;
  border: none;
  -webkit-border-radius: 32px / 54px;
  border-radius: 32px / 54px;
  font: normal 18px/normal "Coda", Helvetica, sans-serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css:hover {
  background: rgba(232,249,255,1);
  -webkit-box-shadow: 0 2px 2px 0 rgba(90,90,90,0.2) inset;
  box-shadow: 0 2px 2px 0 rgba(90,90,90,0.2) inset;
}

.enjoy-css:focus {
  background: rgba(255,253,232,1);
  -webkit-transition: border-radius 200ms cubic-bezier(1, 0.34, 0.58, 1);
  -moz-transition: border-radius 200ms cubic-bezier(1, 0.34, 0.58, 1);
  -o-transition: border-radius 200ms cubic-bezier(1, 0.34, 0.58, 1);
  transition: border-radius 200ms cubic-bezier(1, 0.34, 0.58, 1);
}
.enjoy-css2 {
  display: inline-block;
  width:96%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 6px 20px;
  border: none;
  -webkit-border-radius: 32px / 54px;
  border-radius: 32px / 54px;
  font: normal 18px/normal "Coda", Helvetica, sans-serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css2:hover {
  background: rgba(232,249,255,1);
  -webkit-box-shadow: 0 2px 2px 0 rgba(90,90,90,0.2) inset;
  box-shadow: 0 2px 2px 0 rgba(90,90,90,0.2) inset;
}

.enjoy-css2:focus {
  background: rgba(255,253,232,1);
  -webkit-transition: border-radius 200ms cubic-bezier(1, 0.34, 0.58, 1);
  -moz-transition: border-radius 200ms cubic-bezier(1, 0.34, 0.58, 1);
  -o-transition: border-radius 200ms cubic-bezier(1, 0.34, 0.58, 1);
  transition: border-radius 200ms cubic-bezier(1, 0.34, 0.58, 1);
}
.table{
  text-align:center;
  width:100%;
}
td{
  width:50%;
  text-align:right;
}
td > input{
  float:left;
}
